<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wallet Application</title>
</head>
<body>
    <h1>Welcome to the Ethereum Wallet Application</h1>
    <form method="post" action="/login">
        Enter your wallet password
        <input type="text" name="password" id="password" placeholder="Enter your wallet password" autocomplete="off" />
        <input type="submit" value="Login" />
    </form>
    <br>
    <br>
    <a href="/new_account">Create a New Account</a>
    <br>
    <a href="/existing_account">Use an Existing Account</a>
</body>
</html>
