<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set Password</title>
</head>
<body>
    <h1>Set Your Password</h1>
    <form action="/verify_new_mnemonic" method="post">

        <h2>Verify Mnemonic & Enter New Password</h2>
        <br/>
        <label>Enter Manemonic of given place number</label>
        <br/>
        {% for i in random_numbers%}
        <input type="text" id="mnemonic{{i}}" name="mnemonic{{i}}" placeholder="{{i}}">
        {% endfor %}

        <br/>
        <br/>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <input type="submit" value="Verify & Update Password">
    </form>
</body>
</html>
